@charset "utf-8";
/* CSS Document */
div.ControlsRow, div.HeadersRow {
    font-family: Georgia;
}

div.Canvas {

    font-family: Lucida Console, Georgia;

    font-size: 13px;

    background-color: #ECECEC;

    color: #000000;

    border: solid 1px #CECECE;

}

.ObjectBrace {

    color: #00AA00;

    font-weight: bold;

}

.ArrayBrace {

    color: #0033FF;

    font-weight: bold;

}

.PropertyName {

    color: #CC0000;

    font-weight: bold;

}

.String {

    color: #007777;

}

.Number {

    color: #AA00AA;

}

.Boolean {

    color: #0000FF;

}

.Function {

    color: #AA6633;

    text-decoration: italic;

}

.Null {

    color: #0000FF;

}

.Comma {

    color: #000000;

    font-weight: bold;

}

PRE.CodeContainer {

    margin-top: 0px;

    margin-bottom: 0px;

}

PRE.CodeContainer img {

    cursor: pointer;

    border: none;

    margin-bottom: -1px;

}

#CollapsibleViewDetail a {
    padding-left: 10px;
}

#ControlsRow {
    white-space: nowrap;
    font: 11px Georgia;

}

#TabSizeHolder {
    padding-left: 10px;
    padding-right: 10px;
}

#HeaderTitle {
    text-align: right;
    font-size: 11px;
}

#HeaderSubTitle {
    margin-bottom: 2px;
    margin-top: 0px
}

#RawJson {
    width: 99%;
    height: 120px;

}

A.OtherToolsLink {
    color: #555;
    text-decoration: none;
}

A.OtherToolsLink:hover {
    text-decoration: underline;
}
/*span{*/
    /*font-size: 14px;*/
    /*font-family: 'DejaVu Sans', Courier New, Helvetica, sans-serif;*/
/*}*/
/*p{*/
    /*font-size: 14px;*/
    /*font-family: 'DejaVu Sans', Courier New, Helvetica, sans-serif;*/
/*}*/
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    /*width: 100%;*/
    /*font-size: 14px;*/
    font-family: 'DejaVu Sans', Courier New, Helvetica, sans-serif;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 2px;

}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-weight: bold;
    text-align: center;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
#txTable tr td:last-child{white-space: auto;word-break: break-all;}